body {
  background: #111 !important;
}

#sub{
 color: gainsboro; 
 font-weight: lighter;
}


.card-subtitlex {
   margin-bottom: 25px;
  }

.card-subtitlelocation{
    margin-bottom: 25px;
}


.contain-imag{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.img-thumbnail{
    width: 100px;
   margin-left: 45%;
}


.card {
      text-align: center;
      justify-content: center;
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 2px 6px 8px 0 #131212, 0 0 0 1px #222224;
      margin-top:20px;
  }
  

  

  







