{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css' ) }}">


<div class="contain-imag"> 
  <h1 class="text-center text-info"><strong>Rick and morty</strong> </h1>
  <marquee direction="right" id="move"><h3> API: https://rickandmortyapi.com</h3></marquee>
  <img src="{{ url_for('static', filename='img/portada.jpg') }}" class="img-thumbnail" />
  <hr>
  </div>

<div class="container">
  <div class="row">
    
    {% for i in personajes  %}
    <div class="col-xs-12 col-sm-6">
      <div class="card horizontal">
        <a href="#"></a>
        <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
        <div class="card-body">


          <h4 class="card-text bg-gradient-warning text-primary" ><strong>{{i.name}}</strong></h3>
          <p class="card-subtitlex text-info">🔴 {{i.status}} - {{i.species}}</p>
          <h5 class="card-subtitle mb-2 text-success "><strong>Last known location: </strong></h5>
          <h5 class="card-subtitlelocation" id="sub"> {{i.location.name}}</h5>
          <h5 class="card-subtitle mb-2 text-success" id="spacio"><strong>First seen in: </strong></h5>
          <h5 class="card-subtitle mb-2" id="sub"> En el episodio 25 (Por hacer...)</h5>


        </div>
        <div class="card-footer">
          <div class="read__more"  style="visibility: hidden;"></div>
          <a href="" class="read__more btn ">Ver perfil</a>
          <a href="{{ url_for('character_router.delete_character', id=i.id) }}" class="btn btn-danger">
            Delete
          </a>

        </div>
      </div>
    </div>
    {% endfor %}
   
    
    
    

    
    
  </div>
</div>

{% endblock content %}